extends ../layout

block content
  .container
    br
    .row
      .panel.panel-default
        .panel-heading Personas inscritas
        table.table.table-striped
          thead: tbody
            tr
              th Nombre
              //th Correo
              th Institución educativa
              th Nodo
              //th Fecha inscripción
          tbody
            each persona in personas
              tr
                td #{persona.nombre}
                //td #{persona.correo}
                td #{persona.institucionEducativa}
                each nodo in persona.inscritoEnNodo
                  td #{nodo.nombre}
                //td #{persona.createdAt}
