extends ../layout
include ./mixins/taller_helpers

block content
  .container
    .jumbotron.hero-spacer
      .row
        .col-lg-4: .thumbnail
          img(src='/images/destortilla.jpg')
        .col-lg-8
          h1= taller.nombre
          p= taller.descripcion
          p= taller.fecha
          p= taller.hora
          p= taller.requerimientos
      //
        .row
          form(method="POST", action='/taller/' + taller.id )
            input(type="hidden", value="delete", name="_method")
            input#deletebtn_6.delconfirmbtn6.btn.btn-sm.btn-danger(type="button", onclick="$('.delconfirmbtn6').toggleClass('hidden');", value="Delete")
            input#confirm_btn6.delconfirmbtn6.btn.btn-sm.btn-danger.hidden(type="submit", value="Confirm")

          a.btn.btn-primary(href='/taller/'+taller.id+'/inscripcion') Inscribirse
          a.btn.btn-primary(href='/') Regresar
    //
      hr
      .row
        h3 Inscritos
        ul.list-group
          li.list-group-item #{taller.tallerista}
            span.badge #{taller.institucionEducativo}
